.espaciado-divider {
    margin: 5rem 0; 
  }
  .espaciado-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  .titulos .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .titulos h2 {
    font-weight: 400;
  }
  .titulos .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }